%h3
  Crockford Talk on Javascript

%div
https://balinterdi.leadpages.net/emberjs-mailing-list/?subdomain=balinterdi 

https://balinterdi.leadpages.net/emberjs-mailing-list/?subdomain=balinterdi
  =link_to("Crockford of Programming Style and Your Brain", "https://www.youtube.com/watch?v=taaEzHI9xyY&feature=youtube_gdata_player")
  =link_to("Js lint", "http://www.jslint.com")
The gut informs the head. The head uses those. The head is not usually aware of those. So it is easy to confuse ppl by confusing the guts.

The ppl know this are the advertising industry. they create wants/needs which you dont need.

You sell tobacco to the gut.

Programming 
