.hero-unit
  %h2 Leveraging Technology Expertise to meet your Business Needs
  %p We are outsource service providers. We specialize in ruby on rails, php, and javascript development.
  %p
    We are on 
    %a{:href => "/"}heroku!
  %p
    We are on 
    %a{:href => "http://umarsheikh.github.com"}github!
  %p
    We are on 
    %a{:href => "https://www.odesk.com/o/companies/hudhud_~01a3330bdc2583f74d/"}odesk!
  %p
    For a detailed list of our previous work, click 
    %a{:class => "btn btn-primary btn-large"} Here &raquo;
    
.row
  .span4
    %h2 Ruby on Rails
    %p
      This is our most trusted expertise. We have one of the best Pakistani teams, and we program in rails for fun! Most of our projects are in rails to boot! If you have rails work, we should be your one-stop-shop for all-things-rails.
    %p
      =link_to("Rails portfolio &raquo;".h, portfolio_path("rails"), :class => "btn")
  .span4
    %h2 Javascript
    %p
      Javascript development has seen a boom with the advent of powerful frameworks like node, backbone and ember. We are skilled in these among others, and love to use backbone with rails. Or just go all-javascript with node!
    %p
      =link_to("Javascript portfolio &raquo;".h, portfolio_path("javascript"), :class => "btn")
  .span4
    %h2 Php
    %p
      What is a technology house without php work! This technology is the most widespread with wide support, and every person who can write hello world in a programming language can program in php! We are no different!
    %p
      =link_to("Php portfolio &raquo;".h, portfolio_path("php"), :class => "btn")
