.hero-unit
  %h2 Leveraging Technology Expertise to meet your business needs
  %p We are outsource service providers. We specialize in ruby on rails, php, and javascript development.
  %div
    We have worked in the following technologies
    %ol
      %li rails
      %li capybara
      %li selenium
      %li cucumber
      %li node
      %li backbone
      %li heroku
  %p We are on heroku!
  %p
    For a full list of our previous work, click 
    %a{:class => "btn btn-primary btn-large"} Here &raquo;
    
.row
  .span4
    %h2 Ruby on Rails
    %p
      This is our most trusted expertise. We have one of the best Pakistani teams, and we program in rails for fun! Most of our projects are in rails to boot!
  .span4
    %h2 Javascript
    %p
      We love to program in javascript as well. Rails is naturally leading its programmers into javascript development, with backbone and node frameworks. Many of these frameworks were pioneered by rails programmers, and we took care to remain abreast!
  .span4
    %h2 Php
    %p
      What is a technology house without php work! This technology is the most widespread with wide support, and every person who can write hello world in a programming language can program in php! We offer our services in CMSes like drupal and Joomla, and blog technologies like Wordpress.
