%h1 Overview
In order to improve programming skills, I should pick up some projects and work on them.
I dont have to try and take a project to completion; I only have to pick up a project and
work on it enough that I get some fullfillment out of it, and I learn something new. I may
then decide to switch to another project, or have more than one ongoing.

There are many ideas for projects. One simple idea is to explore as much open source code as possible in
a select few languages. This should increase my ability to read code, and expose me to new ways
of writing code. I may also use these to better understand the api's I interact with during professional
development.

Hopefully after exploring a dozen or so projects, I may get an idea of what to build for myself. I may
then try and build that.

%h3 Build a JSlint for Ruby (Python later).

%h4 Attack Plan.
%table.green-table
  %thead
    %tr
      %th
        Task
      %th
        Estimated number of days
      %th
        Days spent?
      %th
        Do I feel done?
  %tr
    %td
      Explore JsLint Source Code
    %td
      5
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Get familiar with ruby metaprogramming
    %td
      7
    %td
      0
    %td
      &#x2717;
  %tr
    %td
      List features for Javascript recommended by jslint
    %td
      3
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      List features of Javascript discouraged by jslint
    %td
      2
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Come up with ruby features to recommend
    %td
      4
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Come up with ruby features to discourage
    %td
      4
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Code
    %td
      5
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Look at existing refactoring tools 1
    %td
      4
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Look at existing refactoring tools 2
    %td
      4
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      compare your code to other code 1
    %td
      2
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      compare your code to other code 2
    %td
      2
    %td
      0
    %td
      &#x2717;
  %tr      
    %td
      Conclusion
    %td
      3
    %td
      0
    %td
      &#x2717;
  %tfoot
    %tr
      %td
        Total
      %td
        45
      %td
        0
      %td
        N/A

