%h2 application framework
%ul
  %li
    build apps declaratively and without code
  %li
    It asked me to make an app in quick start, i said Recruiting & to track People, and we started app!
  %li
    Shows project name on right, People tab in left, and a New field.
  %li
    create an account on developer.force.com
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  %li
    
  
