%h2
  Background
Already installed ubuntu 12, updated, installed php, mysql, apache2, and phpmyadmin. installed a number of rubies like 1.8.7, 1.9.3, and 2.0.0 using rvm, so build-essential, curl, etc are already installed. also done ssh key generation, and checked out this repository. Also installed vim. Continuing...
%ul
  %li
    sudo apt-get install:
    %ul
      %li libgnome2-0 # gnome-open
      %li tree # view files in a folder in a tree
      %li libcurl4-gnutls-dev # can't install patron gem otherwise 
  %li update rails gem in this project since otherwise rails assets are not being applied
  %li
    add ppa:gstreamer-developers/ppa to "Other Software" in "Settings" of "Update Manager" to run metacafe videos
  %li
    sudo apt-get install:
    %ul
      %li gitk
      %li kompare
      %li kate
      %li flashplugin-installer
      %li gstreamer0.10-ffmpeg
      %li libmysqlclient-dev # otherwise get error related to lmysqlclient, EXAMPLE checking for mysql_query() in -lmysqlclient... no

  %li
    After forgetting mysql password, do: sudo dpkg-reconfigure mysql-server-5.5 # and enter new password
  %li
    redis-server
  %li 
    memcached
  %li
    php5-memcache
