.location.displace
  %h2
    We are 
    %span
      %em here
  %img{:src => "http://maps.google.com/maps/api/staticmap?size=400x400&maptype=roadmap&sensor=false&markers=color:blue|label:A|Lahore,PK", :alt => "Lahore, Pakistan"}

