// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.displace {
  margin-left: 30%;
}

em {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
