// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.optional {
  background-color: pink;
  margin-left: 1%;
  border-collapse: collapse;
  font-style: italic;
  color: gray;
}
.blue {
  color: blue;
}
.heading-green {
  color: lighten(green, 10%);
  text-decoration: underline;
}
.problem-set {
  margin: 5px 2px 5px;
  padding: 5px;
  border: 1px dotted blue;
}
.floater-left {
  float:left;
}
.clear {
  clear: both;
}
.green {
  color: lighten(green, 10%);
}
.event-container {border: 1px dashed purple; padding: 5px; width: 350px; float:left; margin: 5px; min-height:400px;}
.no-publish {display: none;}
